@media screen and (min-width:768px) {

    /* Hide hamburger */

    #menuBtn {

        display: none;
    }

    /* Desktop Navigation */

    #navMenu {

        display: block;

        width: auto;

        margin-top: 0;
    }

    #navMenu ul {

        display: flex;

        justify-content: center;

        gap: 2rem;
    }

    #navMenu li {

        border: none;
    }

    #navMenu a {

        background: transparent;

        padding: .8rem 1rem;
    }

    /* Directory */

    #members.grid {

        grid-template-columns:

            repeat(3, 1fr);
    }

    /* Footer */

    .footer-info {

        display: flex;

        justify-content: space-around;
    }

    /* Home */

    .home-grid {

        grid-template-columns:

            2fr 1fr;
    }

    #spotlight-container {

        grid-template-columns:

            repeat(3, 1fr);
    }

    .hero-text {

        top: 35%;

        left: 10%;
    }

    .hero-text h1 {

        font-size: 2.5rem;
    }

    /* Join */

    .join-container {

        display: grid;

        grid-template-columns:

            2fr 1fr;

        gap: 2rem;

        align-items: start;
    }

    /* Discover */

    .discover-grid {

        display: grid;

        grid-template-columns:

            1fr 1fr 1fr;

        grid-template-areas:

            "welcome welcome welcome"

            "card1 card2 card3"

            "card4 card5 card6"

            "card7 card8 card8";

        gap: 1rem;
    }

    #visitMessage {

        grid-area: welcome;
    }

    .discover-card img {

        transition:

            transform .3s ease,

            filter .3s ease;
    }

    .discover-card img:hover {

        transform: scale(1.08);

        filter:

            drop-shadow(0 0 10px #000);
    }

}