@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: block !important;
        margin-top: 0;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 0.8rem 1rem;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-info {
        display: flex;
        justify-content: space-around;
    }
}