@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: block !important;
        margin-top: 0;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    nav li {
        border: none;
    }

    nav a {
        background: transparent;
        padding: 0.8rem 1rem;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-info {
        display: flex;
        justify-content: space-around;
    }

    .home-grid {
        grid-template-columns: 2fr 1fr;
    }
    
    #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .hero-text {
        top: 35%;
        left: 10%;
    }
    
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .join-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
    }

    .discover-grid {
    
        grid-template-columns:
            1fr 1fr 1fr;
    
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight eight";
    }
    
    .discover-card img:hover {
        transform: scale(1.08);
        filter: drop-shadow(0 0 10px #000);
    }
}
