@media screen and (min-width: 641px) {

    .discover-grid {
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "one two"
            "three four"
            "five six"
            "seven eight";
    }

    .discover-card:nth-child(1) {
        grid-area: one;
    }

    .discover-card:nth-child(2) {
        grid-area: two;
    }

    .discover-card:nth-child(3) {
        grid-area: three;
    }

    .discover-card:nth-child(4) {
        grid-area: four;
    }

    .discover-card:nth-child(5) {
        grid-area: five;
    }

    .discover-card:nth-child(6) {
        grid-area: six;
    }

    .discover-card:nth-child(7) {
        grid-area: seven;
    }

    .discover-card:nth-child(8) {
        grid-area: eight;
    }

    .discover-card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        transition: .3s;
    }
}