@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }

    nav a {
        text-align: center;
        border-right: 1px solid #555;
    }

    .top-grid {
        grid-template-columns: 2fr 1fr;
    }

    .filter-buttons {
        grid-template-columns: repeat(3, 1fr);
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }
}